<div>
  <h5>
    <i class="tiny add icon"></i>
    {{resourceCollection.name}}
  </h5>
  <div class="ui relaxed divided list" style="padding-left: 16px">
    <div class="item" *ngFor="let resource of resourceCollection.data">
      <span appEditItem (editItem)="editResource(resource)" style="display: flex;">
        {{resource.name}}
        <i appDeleteItem (deleteItem)="deleteResource(resource.id)" class="tiny delete icon"
           style="margin-left: auto"></i>
      </span>
    </div>
    <div class="item" appAddNewItem (createItem)="createResource()">
      添加新的...
    </div>
  </div>
</div>
