<form class="ui form" [formGroup]="characterForm">
  <div *ngFor="let row of characterForm.rows">
    <div [ngClass]="row.classColumnNumber + ' fields'">
      <div class="field" *ngFor="let control of row.controls">
        <label>
          <span>{{control.label}}</span>
          <input *ngIf="control.controlType === 'text' || control.controlType === 'number'"
                 [formControlName]="control.id"
                 [type]="control.controlType"
                 [placeholder]="control.placeholder"
                 [(value)]="control.value">
          <select *ngIf="control.controlType === 'select'"
                  [formControlName]="control.id"
                  class="ui dropdown"
                  [(ngModel)]="control.value">
            <option *ngFor="let option of control.options" [value]="option.id">
              {{option.label}}
            </option>
          </select>
        </label>
      </div>
    </div>
  </div>
</form>
