<form class="ui form" [formGroup]="characterForm">
  <div class="ui styled accordion" style="width: 100%">
    <div class="active title">
      <i class="dropdown icon"></i>
      <h3 style="display: inline">基本信息</h3>
    </div>
    <div class="active content">
      <div *ngFor="let row of characterForm.rows">
        <div [ngClass]="row.classColumnNumber + ' fields'">
          <div class="field"
               *ngFor="let control of row.controls">
            <label>
              <span>{{control.label}}</span>
              <input *ngIf="control.controlType === 'text' || control.controlType === 'number'"
                     [formControlName]="control.id"
                     [type]="control.controlType"
                     [placeholder]="control.placeholder"
                     [(value)]="control.value">
              <select *ngIf="control.controlType === 'select'"
                      [formControlName]="control.id"
                      class="ui fluid selection dropdown"
                      [multiple]="control.isMultiple? 'multiple' : ''"
                      [(ngModel)]="control.value">
                <option *ngFor="let option of control.options" [value]="option.id">
                  {{option.label}}
                </option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="ui card" style="width: 100%">
        <div class="active title">
          <i class="dropdown icon"></i>
          <h5 style="display: inline">
            职业
          </h5>
          <div class="ui basic buttons">
            <div *ngFor="let profession of character.professions"
                 class="ui disabled button">
              {{profession.label + '(' + profession.level + ')'}}
            </div>
          </div>
        </div>
        <div class="active content">
          <p>Professions</p>
        </div>
      </div>
    </div>
  </div>
</form>

