<div class="toolbox full-height ui vertical inverted menu">
  <div class="item" style="font-size: 1.3rem; text-align: center">
    工具箱
  </div>
  <div class="ui dropdown item">
    <i class="mouse pointer icon"></i>
    选择
    <div class="menu">
      <a class="item">
        <i class="mouse pointer icon"></i>
        选择
      </a>
    </div>
  </div>
  <div class="ui dropdown item">
    <i class="paint brush icon"></i>
    绘图
    <div class="menu">
      <a class="item">
        <i class="paint brush icon"></i>
        画笔
      </a>
    </div>
  </div>
</div>

